* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: Ivory;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
  font-size: 90px;
  text-align: center;
  letter-spacing: 8px;
  padding: 20px;
  position: relative;
  color: tomato;
  letter-spacing: -2px;


  span {
    display: inline-block;
    font-family: 'Fontdiner Swanky', cursive;
    text-transform: lowercase;
    text-decoration: underline;
    transform: rotate(-5deg)
  }

  &::before {
    content: "*";
    color: yellow;
    display: inline-block;
    transform: translate(-10px, 10px)
  }

  &::after {
    content: "*";
    color: yellow;
    display: inline-block;
    transform: translate(10px, 10px)
  }
}

#game {
  margin: 0 auto;
  position: relative;
  width: 960px;
  height: 571px;
  overflow: hidden;
}

#my_canvas {
  position: absolute;
  z-index: 1;
  width: 960px;
  height: 571px;
}

#my_canvas_wrapper {
 position: absolute;
z-index: 0;
  background: url(../img/seamless_bg.jpg);
  height: 571px;
  width: 20000px;
}

p{
  font-family: 'Londrina Shadow', cursive;
  color:yellow;
  font-size: 30px;
  position: absolute;
  top: 0;
}

